<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="surveyMapper">

	<select id="test" resultType="Date">
		select SYSDATE from DUAL
	</select>
	
	<insert id="insertSurvey" parameterType="kr.co.edu.vo.SurveyVO" useGeneratedKeys="true" keyProperty="sur_seq">
		<selectKey keyProperty="sur_seq" resultType="int" order="BEFORE">
			SELECT TB_06_RS_SEQ.NEXTVAL FROM DUAL	   
	    </selectKey>
	   
	   INSERT INTO TB_06_RS (
		    SUR_SEQ, SUR_TITLE, SUR_SAT_DATE, SUR_END_DATE
		)
		VALUES (
			#{sur_seq}, #{sur_title}, #{sur_sat_date}, #{sur_end_date}
		)
   </insert>
   
   <select id="selectSurvey" parameterType="int" resultType="kr.co.edu.vo.SurveyVO">
		SELECT
			*
		FROM
			TB_06_RS
		WHERE
			SUR_SEQ = #{sur_seq}
	</select>
	
	<update id="updateSurvey" parameterType="kr.co.edu.vo.SurveyVO">
		UPDATE TB_06_RS
		<set>
			<if test="sur_title != null">
		    	SUR_TITLE = #{sur_title},
	    	</if>
		    <if test="sur_sat_date != null">
		    	SUR_SAT_DATE = #{sur_sat_date},
		    </if>
		    <if test="sur_end_date != null">
		    	SUR_END_DATE = #{sur_end_date},
		    </if>
	    </set>
		WHERE
		    SUR_SEQ = #{sur_seq}
	</update>
   
	<insert id="insertSurveyItem" parameterType="kr.co.edu.vo.SurveyItemVO" useGeneratedKeys="true" keyProperty="suri_seq">
		<selectKey keyProperty="suri_seq" resultType="int" order="BEFORE">
			SELECT TB_06_RSI_SEQ.NEXTVAL FROM DUAL	   
	    </selectKey>
	    
	    INSERT INTO TB_06_RSI(
		    SUR_SEQ, SURI_SEQ, SURI_TITLE
		)
		VALUES (
		    #{sur_seq}, #{suri_seq}, #{suri_title}
		)
   </insert>
   
   <select id="selectItemList" parameterType="int" resultType="kr.co.edu.vo.SurveyItemVO">
		SELECT
			rsi.*
		FROM
			TB_06_RSI rsi
		WHERE
			rsi.SUR_SEQ = #{sur_seq}
		ORDER BY
		    rsi.SURI_SEQ ASC
	</select>
	
	<update id="updateSurveyItem" parameterType="kr.co.edu.vo.SurveyItemVO">
		UPDATE TB_06_RSI
		<set>
		    <if test="sur_seq != null">
		        SUR_SEQ = #{sur_seq},
		    </if>
		    <if test="suri_seq != null">
		        SURI_SEQ = #{suri_seq},
		    </if>
		    <if test="suri_title != null">
		        SURI_TITLE = #{suri_title},
		    </if>
		</set>
		WHERE
		    SURI_SEQ = #{suri_seq}
	</update>
   
	<insert id="insertSurveyAnswer" parameterType="kr.co.edu.vo.SurveyAnswerVO" useGeneratedKeys="true" keyProperty="ano">
		<selectKey keyProperty="ano" resultType="int" order="BEFORE">
		    SELECT TB_06_RSR_SEQ.NEXTVAL FROM DUAL	   
		</selectKey>
		
		INSERT INTO TB_06_RSR (
		    ANO, PNO, SUR_SEQ, SURI_SEQ, ANSWER, CHOICE_REASON
		)
		VALUES (
		    #{ano}, #{pno}, #{sur_seq}, #{suri_seq}, #{answer}, 
		    #{choice_reason}
		)
   </insert>
   
   <select id="selectSurveyAnswerChoiceReasonList" resultType="kr.co.edu.vo.SurveyAnswerVO" parameterType="kr.co.edu.vo.SurveyItemVO">
	   	SELECT
		    rsr.*
		FROM
		    TB_06_RSR rsr
		WHERE
		     rsr.SUR_SEQ = ${sur_seq}
		    AND rsr.SURI_SEQ = ${suri_seq}
		    AND rsr.CHOICE_REASON IS NOT NULL
		ORDER BY
		    rsr.SURI_SEQ ASC, rsr.ANO ASC
   </select>
   
   <!-- 게시물 검색(동적 쿼리 sql문) -->
	<sql id="searchWhere">
	    <where>
	        <if test="keyword != null and keyword.length() > 0">
	            SUR_TITLE LIKE '%' || #{keyword} || '%'
	        </if>
	    </where>
	</sql>
	
	<select id="selectSurveyListCount" resultType="int" parameterType="Map">
		SELECT
		    count(*)
		FROM
		    TB_06_RS tr
		<include refid="searchWhere" />
	</select>
	
	<select id="selectSurveyList" resultType="kr.co.edu.vo.SurveyVO" parameterType="Map">
		SELECT
		    rs.*,
		    (CASE
		        WHEN rsr.SUR_SEQ > 0
		        THEN 'Y'
		        ELSE 'N'
		    END) answer_yn
		FROM
		(
		    SELECT
		        rs.*,
		        ROW_NUMBER() OVER(ORDER BY SUR_SEQ ASC) AS RNUM
		    FROM
		        TB_06_RS rs
		    <include refid="searchWhere" />
		) rs
		LEFT JOIN
		(
		    SELECT
		        DISTINCT SUR_SEQ
		    FROM
		        TB_06_RSR rsr
		    WHERE
		        PNO = #{pno}
		) rsr on rsr.SUR_SEQ = rs.SUR_SEQ
		WHERE
		    RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY
		    RNUM DESC
	</select>
	
	<select id="selectPeople" resultType="kr.co.edu.vo.SurveyPeopleVO" parameterType="Map">
		SELECT
		    rsp.*
		FROM
		    TB_06_RSP rsp
		WHERE
		    ID = #{id}
		    AND PW = #{pw}
	</select>
	
	<select id="selectResultBySurSeq" resultType="Map" parameterType="int">
		SELECT
		    rsi.suri_seq,
		    rsi.suri_title
		FROM
		    TB_06_RSI rsi
		WHERE
		    sur_seq = #{sur_seq}
		ORDER BY
		    rsi.suri_seq ASC
	</select>
	
	<select id="selectResultBySuriSeq" resultType="Map" parameterType="int">
		SELECT
		    rsr.ANSWER,
		    count(rsr.ANSWER) as count
		FROM
		    TB_06_RSR rsr
		WHERE
		    SURI_SEQ = #{suri_seq}
		GROUP BY
		    rsr.ANSWER
	</select>

	<delete id="deleteResearchAnswer" parameterType="int">
		DELETE
		    TB_06_RSR
		WHERE
		    SUR_SEQ = #{sur_seq}
	</delete>
	
	<delete id="deleteResearchItem" parameterType="int">
		DELETE
		    TB_06_RSI
		WHERE
		    SUR_SEQ = #{sur_seq}
	</delete>
	
	<delete id="deleteResearchSurvey" parameterType="int">
		DELETE
		    TB_06_RS
		WHERE
		    SUR_SEQ = #{sur_seq}
	</delete>
</mapper>